<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Panel Admin</title>

<link rel="stylesheet" href="style.css">

<style>

body{
    padding:40px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:40px;
}

th, td{
    padding:18px;
    border:1px solid rgba(255,255,255,0.1);
    text-align:left;
}

th{
    background:#00ffcc;
    color:black;
}

tr{
    background:rgba(255,255,255,0.03);
}

h1{
    font-size:50px;
    margin-bottom:20px;
}

</style>

</head>

<body>

<h1>
Panel Administrador 🚀
</h1>

<table>

<thead>

<tr>

<th>ID</th>
<th>Nombre</th>
<th>Correo</th>
<th>Documento</th>
<th>Certificado</th>

</tr>

</thead>

<tbody>

{{DATOS}}

</tbody>

</table>

</body>

</html>